<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Titre ou Logo -->
      <a class="navbar-brand" href="#">CoursApp</a>
  
      <!-- Bouton pour le menu responsive -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Liens du menu -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <!-- Lien vers la liste des cours -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/courses" routerLinkActive="active">Course List</a>
          </li>
          
          <!-- Lien vers la liste des contacts -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacts" routerLinkActive="active">Contact List</a>
          </li>
        </ul>
        <!-- Bouton pour se connecter -->
        <div class="d-flex">
            <a class="btn btn-primary" routerLink="">Sign out</a>
        </div>
      </div>
    </div>
  </nav>
  
<div class="container mt-5">
    <h2>Liste des Cours</h2>
  
    <!-- Bouton pour ajouter un cours -->
    <button class="btn btn-primary mb-3" (click)="navigateToAddCourse()">
        Add a Course
    </button>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Image</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{ course.title }}</td>
          <td>
            <img
              [src]="course.image"
              alt="Image du cours"
              style="width: 100px; height: auto;"
              onerror="this.src='https://via.placeholder.com/150';"
            />
          </td>
          <td>{{ course.price }} DT/  Month</td>
          <td>
            <!-- Bouton pour modifier -->
            <button class="btn btn-warning btn-sm me-2" (click)="navigateToEditCourse(course.id!)">
              Update
            </button>
            <!-- Bouton pour supprimer -->
            <button class="btn btn-danger btn-sm" (click)="deleteCourse(course.id!)">
                Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  